.info-container {
  // border: 1px solid red;
  max-width: 37.5rem;
  margin: auto auto 2rem;
  border-radius: 0.75rem;
  padding: 1rem;
  background-color: var(--cmp-background);
  position: relative;
  z-index: 2;

  @media (min-width: 48rem) {
    padding: 3rem;
  }
}