.info-container {
 // border: 1px solid red;
 max-width: 37.5rem;
 margin: auto;
 border-radius: 0.75rem;
 padding: 1rem;
 background-color: var(--cmp-background);

  @media (min-width: 48rem) {
    padding: 3rem;
  }
}