.info-card__perks {
  // border: 1px solid red;
  border-top: 1px solid var(--toggle-background);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 48rem) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
  }
  
  .perks__list {
    padding: 2rem 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    @media (min-width: 48rem) {
      align-items: flex-start;
    }
    
    li {
      position: relative;
      // border: 1px solid red;
      padding-left: 1rem;

      &::marker {
        content: url("../images/icon-check.svg");
      }
    }
  }
}